.home {

    .intro {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 200px;
        
        .image {
            img {
                width: 35em;
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: 1.2em;
            max-width: 650px;
            
            h1 {
                font-size: 3.4em;
                text-align: right;

                .bo {
                    color: var(--main-color)
                }
                .bg {
                    color: var(--second-color)
                }
            }

            p {
                font-size: 18px;
                text-align: right;
            }

            a {
                width: fit-content;
            }
        }
    }

    .some-sections {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4em;
        margin: 4em 0;

        .sec {
            text-align: center  ;
            .image {
                padding: 12px;
                border-radius: 50%;
                border: 3px solid var(--main-color);
                transition: 0.4s;

                &:hover {
                    transform: scale(1.05);
                }

                img {
                    width: 5.5em;
                }
            }

            h3 {
                margin-top: 8px;
                color: var(--main-color);
                font-weight: 600;
            } 
        }
    }

    // .last-ads {
    //     padding: 0 150px;
    //     margin: 10em 0;

    //     .container {
    //         margin-top: 2em;
    //         display: flex;
    //         justify-content: center;
    //         flex-wrap: wrap;
    //         gap: 4em;

    //         .ad {
    //             background-color: #EBE6E6;
    //             max-width: fit-content;
    //             padding: 8px 10px;
    //             border-radius: 4px;

    //             img {
    //                 width: 15em;
    //                 height: 13em;
    //                 border-radius: 4px;
    //                 margin-bottom: 7px;
    //             }

    //             .name {
    //                 font-size: 17px;
    //             }

    //             .price {
    //                 font-size: 16px;
    //                 margin: 10px 0;
    //                 font-weight: 600;
    //             }

    //             .date {
    //                 font-size: 13px;
    //                 color: #636363;
    //                 font-weight: 400;
    //             }
    //         }
    //     }
    // }

    .about {
        padding: 0 150px;
        margin-top: 12em;

        .container {
            display: flex;
            justify-content: center;
            gap: 3em;

            .image {
                img {
                    width: 22em;
                    box-shadow: 8px 8px 0px 0px var(--main-color);
                    border-radius: 4px;
                }
            }
    
            .text {
    
                p {
                    margin: 20px 0 15px 0;
                    max-width: 650px;
                    font-size: 17px;
    
                    b {
                        color: var(--main-color);
                    }
                }
            }
        }
    }

    .seller {
        padding: 0 180px;
        margin: 10em 0;
        display: flex;
        justify-content: center;
        gap: 7em;

        .text {

            h2 {

                img {
                    width: 5em;
                }
            }

            p {
                margin: 10px 0;
                max-width: 500px;
                font-size: 17px;
            }
        }

        .features {
            display: grid;
            grid-template-columns: auto auto;
            gap: 2em;

            .fea {
                background-color: var(--main-color);
                width: 16em;
                height: 12em;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 5px;

                img {
                    width: 5em;
                }

                h3 {
                    color: #fff;
                    font-size: 16px;
                    margin-top: 15px;
                    text-align: center;
                    max-width: 250px;
                }
            }
        }
    }
}


@media (max-width: 1500px) {
    .home .intro {
        padding: 0 80px;
    }

    .home .intro .text h1 {
        font-size: 3em;
    }
    .home .intro .text p {
        max-width: 500px;
    }

    .home .intro .image img {
        width: 32em;
    }
}


@media (max-width: 1300px) {
    .home .seller {
        padding: 0 100px;
    }
    .home .seller .features .fea {
        width: 15em;
    }
    .home .seller .features .fea img {
        width: 4em;
    }
}


@media (max-width: 1100px) {
    .home .intro {
        padding: 0 50px;
    }
    .home .intro .text h1 {
        font-size: 2.5em;
    }
    .home .intro .image img {
        width: 24em;
    }

    .home .some-sections {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4em;
        margin: 4em 0;
        flex-wrap: wrap;
    }


    .home .about {
        padding: 0 90px;
    }


    .home .seller {
        padding: 0 80px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 4em;
    }
    .home .seller .features {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .home .seller .features .fea {
        height: 13em;
    }
}


@media (max-width: 900px) {
    .home .intro {
        margin-top: 5em;
        flex-direction: column;
    }
    .home .intro .text h1 {
        text-align: center;
    }
    .home .intro .text p {
        text-align: center;
    }
    .home .intro .text {
        align-items: center;
    }


    .home .about {
        padding: 0 40px;
    }
    .home .about .container {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .home .about .container .image img {
        width: 17em;
    }
}
