.loginSignupForm {
  position: relative;
  height: 88vh;
  padding: 3em 0;
}
.loginSignupForm .container {
  display: flex;
  border-radius: 10px;
  box-shadow: 1px 0px 6px 0px #c3c3c3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}
.loginSignupForm .container .image {
  background-color: rgba(232, 106, 52, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em 0;
  width: 40%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.loginSignupForm .container .image h1 {
  color: #FFF;
  font-size: 40px;
  margin-bottom: 15px;
}
.loginSignupForm .container .image img {
  width: 20em;
}
.loginSignupForm .container .loginForm {
  padding: 2em 2em;
  width: 60%;
}
.loginSignupForm .container .loginForm .title {
  font-size: 28px;
  margin-bottom: 0.8em;
}
.loginSignupForm .container .loginForm form {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}
.loginSignupForm .container .loginForm form .inp {
  position: relative;
}
.loginSignupForm .container .loginForm form .inp::before {
  content: "";
  background-color: var(--main-color);
  width: 8px;
  height: 100%;
  position: absolute;
  right: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.loginSignupForm .container .loginForm form .inp input {
  height: 3.2em;
  width: 95%;
  border: 1px solid #adadad;
  border-radius: 4px;
  font-size: 15px;
  padding-right: 15px;
}
.loginSignupForm .container .loginForm form .btns {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.loginSignupForm .container .loginForm form .btns button {
  width: 7.5em;
  height: 2.5em;
  font-size: 16px;
}
.loginSignupForm .container .loginForm form .btns button:last-child {
  background-color: var(--second-color);
}
.loginSignupForm .container .loginForm form .btns a {
  color: var(--second-color);
  font-weight: 600;
  text-decoration: underline;
}
.loginSignupForm .container .loginForm .otherLoginWays {
  margin-top: 2.5em;
}
.loginSignupForm .container .loginForm .otherLoginWays h3 {
  font-weight: 500;
  margin-bottom: 13px;
}
.loginSignupForm .container .loginForm .otherLoginWays div {
  display: flex;
  align-items: center;
  gap: 1em;
}
.loginSignupForm .container .loginForm .otherLoginWays div .way {
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 gray;
  width: 6em;
  height: 3.5em;
  display: flex;
  justify-content: center;
  transition: 0.4s;
}
.loginSignupForm .container .loginForm .otherLoginWays div .way:hover {
  background-color: rgb(248, 248, 248);
  cursor: pointer;
}
.loginSignupForm .container .loginForm .otherLoginWays div .way:hover img {
  width: 2.2em;
}
.loginSignupForm .container .loginForm .otherLoginWays div .way img {
  width: 2em;
  transition: 0.1s;
}

.signup .container .image {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 1300px) {
  .loginSignupForm .container {
    width: 75%;
  }
  .loginSignupForm .container .image img {
    width: 18em;
  }
}
@media (max-width: 900px) {
  .loginSignupForm .container {
    flex-direction: column;
    width: 85%;
  }
  .loginSignupForm {
    height: 130vh;
    padding: 6em 0;
  }
  .loginSignupForm .container .loginForm {
    width: 75%;
  }
  .loginSignupForm .container .image {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
  }
  .signup .container .image {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}/*# sourceMappingURL=login.css.map */