
.productAdd {
    display: flex;
    justify-content: space-between;
    background-color: #eb9a77;
    border-bottom: 3px solid var(--dark-green);

    .productImage {

        img {
            width: 8em;
            height: 100%;
        }
    }

    .productInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1em;

        .name-price {
            display: flex;
            gap: 0.4em;
            font-size: 20px;
             
            .name {
                color: var(--dark-green);
                font-weight: 600;
            }

            .price {
                display: flex;
                align-items: center;
                gap: 5px;

                p {
                    color: var(--dark-green);
                    font-weight: 600;
                }

                img {
                    width: 1.2em;
                }
            }
        }
        
        .town, .user {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 8px;

            p {
                
            }

            img {
                width: 1.4em;
            }
        }
    }
}