.sellerGuidance {
    margin: 3em 150px 8em;

    section {
        margin: 4em 0;

        p {
            max-width: 900px;
            line-height: 1.8em;
            margin-top: 17px;
        }
    }

    .sellingAdvice {
        
        ul {
            
            li {
                position: relative;
                padding-right: 23px;
                margin-top: 20px;

                &::before {
                    content: '';
                    width: 13px;
                    height: 5px;
                    background-color: var(--main-color);
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%)
                }
            }
        }
    }

    .banProducts {
        
        ul {

            li {
                position: relative;
                padding-right: 23px;
                margin-top: 20px;

                &::before {
                    content: '';
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: var(--main-color);
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%)
                }
            }
        }
    }
}


@media (max-width: 900px) {
    .sellerGuidance {
        margin: 3em 80px 8em;
    }
}

@media (max-width: 700px) {
    .sellerGuidance {
        margin: 3em 40px 8em;
    }
}