.addProduct {
  margin: 3em 150px 8em;
}
.addProduct .title h2 {
  font-size: 28px;
}
.addProduct .title p a {
  color: var(--main-color);
  font-weight: 500;
  text-decoration: underline;
}
.addProduct .forms {
  display: flex;
  gap: 70px;
  margin-top: 2em;
}
.addProduct .forms .productDetailsForm {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em 20px 5em;
  background-color: #F0F0F0;
  width: 55%;
}
.addProduct .forms .productDetailsForm div {
  display: flex;
}
.addProduct .forms .productDetailsForm .inp {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.addProduct .forms .productDetailsForm .inp label {
  margin-bottom: 7px;
  font-size: 18px;
}
.addProduct .forms .productDetailsForm .inp input {
  width: 75%;
  height: 2.6em;
  font-size: 14px;
  padding-right: 7px;
  background-color: var(--main-color);
  opacity: 0.7;
  outline: none;
  border: none;
  color: #FFF;
}
.addProduct .forms .productDetailsForm .inp [name=prDescription] {
  width: 170%;
  height: 15em;
  font-size: 14px;
  padding: 10px;
  background-color: var(--main-color);
  opacity: 0.7;
  outline: none;
  border: none;
  color: #FFF;
}
.addProduct .forms .productDetailsForm .inp [name=sellerNumber] {
  width: 175%;
}
.addProduct .forms .productDetailsForm .inp [name=sellerNumber]::-moz-placeholder {
  color: #FFF;
}
.addProduct .forms .productDetailsForm .inp [name=sellerNumber]::placeholder {
  color: #FFF;
}
.addProduct .forms .productDetailsForm .inp select {
  width: 75%;
  height: 3em;
  font-size: 14px;
  background-color: var(--main-color);
  opacity: 0.7;
  outline: none;
  border: none;
  color: #FFF;
}
.addProduct .forms .productDetailsForm .inp select option {
  font-size: 14px;
}
.addProduct .forms .productImagesForm {
  background-color: #F0F0F0;
  width: 45%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em 20px 1em;
}
.addProduct .forms .productImagesForm .title {
  text-align: start;
}
.addProduct .forms .productImagesForm .title p {
  margin-top: 5px;
  font-size: 16px;
}
.addProduct .forms .productImagesForm .images {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 1em 10px;
  grid-template-areas: "pic1 pic1 pic1" "pic2 pic3 pic4";
}
.addProduct .forms .productImagesForm .images .image-upload {
  position: relative;
  width: 140px;
  height: 140px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  border: 2px solid var(--main-color);
  border-radius: 4px;
}
.addProduct .forms .productImagesForm .images .image-upload:first-child {
  width: 70%;
  height: 350px;
  grid-area: pic1;
  justify-self: center;
  border-radius: 6px;
}
.addProduct .forms .productImagesForm .images .image-upload:nth-child(2) {
  grid-area: pic2;
}
.addProduct .forms .productImagesForm .images .image-upload:nth-child(3) {
  grid-area: pic3;
}
.addProduct .forms .productImagesForm .images .image-upload:last-child {
  grid-area: pic4;
}
.addProduct .forms .productImagesForm .images .image-upload p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}
.addProduct .btn {
  margin-top: 1em;
  width: 8em;
  height: 2.5em;
}/*# sourceMappingURL=addProduct.css.map */