.addProduct {
    margin: 3em 150px 8em;

    .title {
        h2 {
            font-size: 28px;
        }
        p{            
            a {
                color: var(--main-color);
                font-weight: 500;
                text-decoration: underline;
            }
        }
    }

    .forms {
        display: flex;
        gap: 70px;
        margin-top: 2em;

        .productDetailsForm {
            display: flex;
            flex-direction: column;
            gap: 2em;
            padding: 1em 20px 5em;
            background-color: #F0F0F0;
            width: 55%;

            div {
                display: flex;
            }
            
            .inp {
                display: flex;
                flex-direction: column;
                width: 45%;

                label {
                    margin-bottom: 7px;
                    font-size: 18px;
                }

                input {
                    width: 75%;
                    height: 2.6em;
                    font-size: 14px;
                    padding-right: 7px;
                    background-color: var(--main-color);
                    opacity: .7;
                    outline: none;
                    border: none;
                    color: #FFF;
                }
                [name='prDescription'] {
                    width: 170%;
                    height: 15em;
                    font-size: 14px;
                    padding: 10px;
                    background-color: var(--main-color);
                    opacity: .7;
                    outline: none;
                    border: none;
                    color: #FFF;
                }
                [name="sellerNumber"] {
                    width: 175%;

                    &::placeholder {
                        color: #FFF
                    }
                }

                select {
                    width: 75%;
                    height: 3em;
                    font-size: 14px;
                    background-color: var(--main-color);
                    opacity: .7;
                    outline: none;
                    border: none;
                    color: #FFF;

                    option {
                        font-size: 14px;
                    }
                }
            }
        }

        .productImagesForm {
            background-color: #F0F0F0;
            width: 45%;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 1em 20px 1em;

            .title {
                text-align: start;
                h3 {

                }

                p{
                    margin-top: 5px;
                    font-size: 16px
                }
            }

            .images {
                display: grid;
                grid-template-columns: 33% 33% 33%;
                gap: 1em 10px;
                grid-template-areas: 
                "pic1 pic1 pic1"
                "pic2 pic3 pic4";

                .image-upload {
                    position: relative;
                    width: 140px;
                    height: 140px;
                    border: 1px solid #ccc;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-size: cover;
                    background-position: center;
                    border: 2px solid var(--main-color);
                    border-radius: 4px;

                    &:first-child {
                        width: 70%;
                        height: 350px;
                        grid-area: pic1;
                        justify-self: center;
                        border-radius: 6px;
                    }
                    &:nth-child(2) {
                        grid-area: pic2
                    }
                    &:nth-child(3) {
                        grid-area: pic3;
                    }
                    &:last-child {
                        grid-area: pic4
                    }
    
                    p {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                        width: 80%
                    }
                }
            }
        }
    }

    .btn {
        margin-top: 1em;
        width: 8em;
        height: 2.5em
    }
}